@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

body {
  background-image: url('../assets/fondo.jpg');
  background-color: #fcc0b0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}